/* 
-Розмітка і класи-

Клас
class="блок section-NAME(семантичний блок)-елемент_призначення"
або
class="section-NAME(семантичний блок)-елемент_призначення"

-Секція, контейнер, обгортка, список: 
section   .section-NAME
container .section-NAME-container
nav       .section-NAME-nav
address   .section-NAME-address
form      .section-NAME-form_призначення
div       .section-NAME-block_призначення
div       .section-NAME-box_призначення
span      .section-NAME-елемент_призначення
ul        .section-NAME-list_призначення
li        .section-NAME-item_призначення

Призначення: 
_page, _descr, _text, _info
_icon, _photo, _img
_data, _phone, _mail, _contacts, _name, _logo
_net, _link
_ext, _next
_form, _input, _field

-Секції section:
.header
.section-hero
.section-solutions
.section-cases
.section-blog
.section-team
.footer

-Посилання  <a>:
.section-NAME-link_page (сторінка)
.section-NAME-link_logo (лого)
.section-NAME-logo_ext (лого /extension/ продовження)
.section-NAME-link_net (соц. мережа)
.section-NAME-link_phone (тел.)
.section-NAME-link_mail (пошта)
.section-NAME-link_data (дані)
.section-NAME-link_contacts (контакти)
:hover,:focus

-Заголовки <title>: 
h1       .title
h2       .section-NAME-title (заголовки секцій)
h3       .section-NAME-subtitle (підзаголовки секцій)
h4,h5,h6 .section-NAME-title_descr (заголовки опису /description/)
h4,h5,h6 .section-NAME-title_photo (заголовки фото або _img малюнків i _icon іконок)
h4,h5,h6 .section-NAME-title_data (заголовки даних)
h4,h5,h6 .section-NAME-title_text (заголовки текту)

-Текст <p>: 
.section-NAME-text_призначення

-Кнопки <button>:
.section-NAME-btn_descr (до детального опису)
.section-NAME-btn_send (відправлення даних)
:hover,:focus

Форми і чекбокси:
form     .section-NAME-form_призначення
label    .section-NAME-label_призначення
input    .section-NAME-input_призначення
:focus

-@media:
для tablet і desktop у кінці кожної секції;
для background-image ретина 2х зразу після 1х 

Фото і іконки:
./images/NAME(секції)/...jpg,png
./images/icons.svg

_____________________________________________
*/

/* BODY */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #fff;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

.title {
  font-weight: 300;
  font-size: 52px;
  line-height: 1.27;
  text-align: center;
  color: #e9e9e9;
  margin-bottom: 20px;
}

.section-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.logo {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.32;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
}

.button {
  display: block;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1360px) {
  .container {
    max-width: 1360px;
  }
}

/* header HEADER */

.header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 13px;
  padding-bottom: 13px;
}

.header-container {
  padding-left: 22px;
  padding-right: 22px;
}

.header-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-box_icon {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.39px;
}

.header-icon_logo {
  fill: #28a745;
}

.header-logo {
  color: #28a745;
}

.header-list_page {
  display: flex;
  gap: 12px;
}

.header-link_page {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
}

.header-link_page:hover,
.header-link_page:focus {
  color: #28a745;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }

  .header-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 35px;
    line-height: 1.21;
  }

  .header-box_icon {
    margin-right: 9px;
  }

  .header-logo {
    margin-right: 9px;
  }
  .header-list_page {
    gap: 20px;
  }

  .header-link_page {
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 1360px) {
  .header {
    max-width: 1360px;
  }

  .header-container {
    padding-left: 28px;
    padding-right: 28px;
  }

  .header-list_page {
    gap: 40px;
  }
}

/* section HERO */

.section-hero {
  padding-top: 142px;
  padding-bottom: 96px;
  max-width: 320px;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/hero-img/bg-mob-@1x-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/hero-img/bg-mob-@2x-min.jpg");
  }
}

.section-hero-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.67273;
  text-align: center;
  color: #e9e9e9;
  margin-bottom: 24px;
}

.section-hero-btn_descr {
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  border-radius: 5px;
  width: 156px;
  height: 45px;
  background-color: #28a745;
}

.section-hero-btn_descr:hover,
.section-hero-btn_descr:focus {
  background-color: #126425;
}

@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    padding-top: 407px;
    padding-bottom: 410px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/hero-img/bg-tab-@1x-min.jpg);
  }

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(../images/hero-img/bg-tab-@2x-min.jpg);
    }
  }

  .title {
    font-weight: 300;
    font-size: 55px;
    line-height: 1.2;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1360px) {
  .section-hero {
    max-width: 1360px;
    padding-top: 279px;
    padding-bottom: 282px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/hero-img/bg-desk-@1x-min.jpg);
  }

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(../images/hero-img/bg-desk-@2x-min.jpg);
    }
  }
}

/* section SOLUTIONS */

.section-solutions {
  max-width: 320px;
  margin: 0 auto;
  background-color: #28a745;
}

.section-solutions-block_descr {
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
}

.section-solutions-subtitle {
  font-weight: 400;
  line-height: 1.66;
  margin-bottom: 8px;
  font-size: 18px;
}

.section-solutions-title {
  margin-bottom: 24px;
}

.section-solutions-text {
  margin-bottom: 24px;
}

.section-solutions-btn_descr {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 158px;
  height: 47px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  background-color: #28a745;
}

.section-solutions-btn_descr:hover,
.section-solutions-btn_descr:focus {
  background-color: #126425;
}

@media screen and (min-width: 768px) {
  .section-solutions {
    max-width: 768px;
  }

  .section-solutions-container {
    display: flex;
  }

  .section-solutions-block_photo {
    flex-shrink: 0;
  }

  .section-solutions-block_descr {
    padding-right: 53px;
    padding-left: 32px;
  }

  .section-solutions-subtitle {
    font-size: 20px;
    line-height: 1.65;
  }

  .section-solutions-title {
    max-width: 204px;
  }

  .section-solutions-text {
    font-size: 18px;
    line-height: 1.56;
  }

  .section-solutions-btn_descr {
    width: 167px;
    height: 50px;
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 1360px) {
  .section-solutions {
    max-width: 1360px;
  }

  .section-solutions-block_descr {
    padding-top: 80px;
    padding-right: 64px;
    padding-left: 20px;
    padding-bottom: 80px;
  }

  .section-solutions-title {
    max-width: 541px;
  }
}

/* section CASES */

.section-cases {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
  max-width: 320px;
  text-align: center;
}

.section-cases-container {
  padding-right: 20px;
  padding-left: 20px;
}

.section-cases-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.664;
  color: #333;
  margin-bottom: 20px;
}

.section-cases-title {
  color: #333;
  margin-bottom: 20px;
}

.section-cases-text {
  color: #333;
  margin-bottom: 20px;
}

.section-cases-item_photo {
  margin-bottom: 8px;
}

.section-cases-item_photo:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .section-cases {
    max-width: 768px;
  }

  .section-cases-container {
    padding-right: 32px;
    padding-left: 32px;
  }

  .section-cases-subtitle {
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 24px;
  }

  .section-cases-title {
    margin-bottom: 24px;
  }

  .section-cases-text {
    line-height: 1.56;
    font-size: 18px;
    margin-bottom: 24px;
  }

  .section-cases-list_photo {
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
  }

  .section-cases-item_photo {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1360px) {
  .section-cases {
    max-width: 1360px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section-cases-container {
    padding-right: 28px;
    padding-left: 28px;
  }

  .section-cases-list_photo {
    column-gap: 20px;
    row-gap: 24px;
  }
}

/* section BLOG */

.section-blog {
  max-width: 320px;
  margin: 0 auto;
  background-color: #0284d0;
}

.section-blog-block_descr {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.section-blog-subtitle {
  font-weight: 400;
  line-height: 1.67;
  margin-bottom: 8px;
}

.section-blog-title {
  color: #fff;
  margin-bottom: 24px;
}

.section-blog-text {
  margin-bottom: 24px;
}

.section-blog-btn_descr {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 184px;
  height: 47px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  background-color: #0284d0;
}

.section-blog-btn_descr:hover,
.section-blog-btn_descr:focus {
  background-color: #02293f;
}

@media screen and (min-width: 768px) {
  .section-blog {
    max-width: 768px;
  }

  .section-blog-container {
    display: flex;
  }

  .section-blog-block_photo {
    flex-shrink: 0;
  }

  .section-blog-block_descr {
    padding-right: 53px;
    padding-left: 32px;
    order: -1;
  }

  .section-blog-subtitle {
    font-size: 20px;
    line-height: 1.65;
  }

  .section-blog-text {
    font-size: 18px;
    line-height: 1.56;
  }

  .section-blog-btn_descr {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 196px;
    height: 50px;
  }
}

@media screen and (min-width: 1360px) {
  .section-blog {
    max-width: 1360px;
  }

  .section-blog-block_descr {
    padding-top: 80px;
    padding-right: 56px;
    padding-bottom: 80px;
    padding-left: 28px;
  }
}

/* section TEAM */

.section-team {
  max-width: 320px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
  text-align: center;
}

.section-team-container {
  padding-right: 20px;
  padding-left: 20px;
}

.section-team-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.664;
  color: #333;
  margin-bottom: 20px;
}

.section-team-title {
  color: #333;
  margin-bottom: 20px;
}

.section-team-text {
  color: #333;
  margin-bottom: 20px;
}

.section-team-item_photo {
  margin-bottom: 20px;
}

.section-team-item_photo:last-child {
  margin-bottom: 0px;
}

.section-team-box_photo {
  margin-bottom: 16px;
}

.section-team-title_name {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.25;
  text-align: center;
  color: #333;
  margin-bottom: 12px;
}

.section-team-text_name {
  text-align: center;
  color: #333;
}

.section-team-overlay {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-team {
    max-width: 768px;
  }

  .section-team-container {
    padding-right: 32px;
    padding-left: 32px;
  }

  .section-team-subtitle {
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 24px;
  }

  .section-team-title {
    margin-bottom: 24px;
  }

  .section-team-text {
    line-height: 1.65;
    font-size: 17px;
    margin-bottom: 24px;
  }

  .section-team-list_photo {
    display: flex;
    gap: 17px;
  }

  .section-team-item_photo {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1360px) {
  .section-team {
    max-width: 1360px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section-team-container {
    padding-right: 30px;
    padding-left: 28px;
  }

  .section-team-item_photo:hover .section-team-overlay {
    transform: translatey(0);
  }

  .section-team-box_photo {
    position: relative;
    overflow: hidden;
  }

  .section-team-overlay {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 130px;
    padding-left: 103px;
    gap: 25px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* .section FOOTER  */

.footer {
  max-width: 320px;
  margin: 0 auto;
}

.footer-block_form {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  background-color: #f4f4f4;
}

.footer-title {
  color: #333;
  max-width: 147px;
  margin-bottom: 32px;
}

.footer-input_data {
  border: 1px solid #f5f5f5;
  width: 280px;
  height: 40px;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  color: #808080;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 8px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input_data:focus {
  border-color: #28a745;
}

.footer-list_input {
  margin-bottom: 40px;
}

.footer-item_input {
  margin-bottom: 32px;
}

.footer-item_input:last-child {
  margin-bottom: 0;
}

.footer-btn_send {
  border-radius: 5px;
  width: 280px;
  height: 42px;
  background-color: #28a745;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.footer-btn_send:hover,
.footer-btn_send:focus {
  background-color: #126425;
}

.footer-block_net {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 34px;
  background: #333;
}

.footer-list_net {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 8px;
}

.footer-text {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
  }

  .footer-block_callback {
    display: flex;
    padding-bottom: 40px;
  }

  .footer-block_form {
    padding-right: 32px;
    padding-left: 32px;
  }

  .footer-title {
    max-width: 305px;
  }

  .footer-input_data {
    line-height: 1.56;
    width: 324px;
  }

  .footer-btn_send {
    width: 336px;
    font-size: 18px;
  }

  .footer-block_net {
    padding-right: 240px;
    padding-left: 241px;
  }

  .footer-text {
    line-height: 1.56;
  }
}

@media screen and (min-width: 1360px) {
  .footer {
    max-width: 1360px;
  }

  .footer-block_callback {
    padding-bottom: 0;
  }

  .footer-block_form {
    padding-top: 80px;
    padding-right: 28px;
    padding-bottom: 80px;
    padding-left: 20px;
  }

  .footer-input_data {
    line-height: 1.56;
    width: 620px;
  }

  .footer-list_input {
    margin-bottom: 60px;
  }

  .footer-btn_send {
    width: 642px;
    font-size: 18px;
  }

  .footer-block_net {
    padding-right: 537px;
    padding-left: 537px;
  }
}
